/* Alternatively, use aspect ratio for responsive sizing */
video {
    /* display: flex; */
    width: 150%!important;
    height: auto!important;
    /* justify-content: center!important;
    align-content: center!important; */
  }

.vid-here {
    width: 960px;
    height: 540px;
    /* margin: 50px 10px 10px 10px; */
    border: 5px solid black
}

